:root {
	/* Theme colors (light default) */
	--background: #fafafa;
	--background-card: #847878;
	--foreground: #fff;
	--text-primary: #000;
	--text-secondary: #666;
	--border: #302e2e;
	/* Spacing */
	--spacing-xs: 4px;
	--spacing-sm: 8px;
	--spacing-md: 16px;
	--spacing-lg: 24px;
	--spacing-xl: 48px;
	--spacing-2xl: 60px;
	--spacing-3xl: 120px;

	/* Typography */
	--font-size-sm: 14px;
	--font-size-base: 18px;
	--font-size-lg: 32px;
	--font-size-xl: 40px;
	--line-height-tight: 40px;
	--line-height-base: 32px;
	--line-height-relaxed: 48px;
	--letter-spacing-tight: -1.92px;
	--letter-spacing-normal: -2.4px;
	--font-weight-medium: 500;
	--font-weight-semibold: 600;

	/* Breakpoints (use in media queries) */
	--breakpoint-mobile-roof: 767px;
	--breakpoint-desktop-floor: 1024px;

	/* Transitions */
	--transition-fast: 0.2s;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #1f1f1f;
		--foreground: #1d1919;
		--text-primary: #c05b41;
		--text-secondary: #999;
	}
}
