/* .nav {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	padding: var(--spacing-md);
	border-top: 1px solid var(--text-secondary);
	background-color: var(--background);
}

.list {
	display: flex;
	gap: var(--spacing-lg);
	list-style: none;
	margin: 0;
	padding: 0;
	justify-content: center;
} */
